/3viikko/WebLogin/build/
/4viikko/MockitoDemo/build/
/4viikko/MaksukorttiMockito/build/
/4viikko/Verkkokauppa/build/
/4viikko/IntJoukkoSovellus/build/
/4viikko/Tennis/build/
/6viikko/QueryLanguage/.gradle/
/6viikko/QueryLanguage/build/
